@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot");
  /* IE9*/
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
@keyframes rollads {
  0% {
    transform: translateY(0); }
  31.25% {
    transform: translateY(0); }
  50% {
    transform: translateY(-0.84541rem); }
  81.25% {
    transform: translateY(-0.84541rem); }
  100% {
    transform: translateY(-1.69082rem); } }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: PingFang SC; }

body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.top-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 999; }
  .top-fixed header {
    width: 100%; }
    .top-fixed header .bar {
      background-color: #f8f8f8;
      width: 100%;
      display: flex;
      justify-content: space-around; }
      .top-fixed header .bar .left, .top-fixed header .bar .middle, .top-fixed header .bar .right {
        width: 2.657rem;
        text-align: center; }
      .top-fixed header .bar .middle p {
        font-size: 0.38647rem;
        color: #202020; }
      .top-fixed header .bar .right {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .top-fixed header .bar .right .input {
          border-radius: 0.28986rem;
          width: 1.73913rem;
          background-color: #fff;
          border: 1px solid #ccc;
          height: 0.57971rem; }
          .top-fixed header .bar .right .input p {
            font-size: 0.33816rem;
            margin: 0;
            line-height: 0.57971rem;
            font-weight: 400;
            color: #ccc; }
        .top-fixed header .bar .right i {
          font-size: 0.57971rem;
          height: 0.72464rem; }
    .top-fixed header .nav-wrap {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #fff; }
      .top-fixed header .nav-wrap .log {
        text-align: center;
        height: 0.91787rem;
        line-height: 0.85749rem; }
        .top-fixed header .nav-wrap .log p {
          font-size: 0.38647rem;
          margin: 0;
          color: #4a576c; }
      .top-fixed header .nav-wrap .on p {
        color: #299DE7;
        border-bottom: 3px solid #299DE7; }

.banner {
  height: 4.83092rem;
  margin-top: 2.26932rem; }
  .banner .swiper-container .swiper-wrapper .swiper-slide {
    text-align: center; }
    .banner .swiper-container .swiper-wrapper .swiper-slide img {
      width: 100%;
      height: 4rem; }
    .banner .swiper-container .swiper-wrapper .swiper-slide a {
      width: 100%;
      height: 4rem; }
  .banner .swiper-pagination {
    width: 100%;
    height: 0.84541rem;
    z-index: 3; }
    .banner .swiper-pagination .swiper-pagination-bullet {
      height: 0.07246rem;
      width: 0.14493rem;
      border-radius: 0.04831rem;
      margin: 0 0.04831rem;
      vertical-align: super; }

.content .mod-searchs .top {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .content .mod-searchs .top .left {
    margin-left: 0.24155rem; }
    .content .mod-searchs .top .left h2 {
      font-size: 0.43478rem;
      color: #333; }
  .content .mod-searchs .top .right {
    margin-right: 0.24155rem; }
    .content .mod-searchs .top .right span {
      font-size: 0.28986rem;
      color: #999; }
.content .mod-searchs .bottom {
  display: flex;
  flex-wrap: wrap; }
  .content .mod-searchs .bottom .red, .content .mod-searchs .bottom .white {
    height: 0.86957rem;
    color: #333;
    font-size: 0.33816rem;
    padding: 0 0.14493rem;
    line-height: 0.86957rem;
    margin: 0 0.04831rem 0.24155rem 0.24155rem; }
  .content .mod-searchs .bottom .red {
    background-color: #fff3ef;
    border: 1px solid #ffded3; }
  .content .mod-searchs .bottom .white {
    background-color: #fff;
    border: 1px solid #eee; }
.content .mod-albums .top {
  width: 100%; }
  .content .mod-albums .top .left {
    margin-left: 0.24155rem; }
    .content .mod-albums .top .left h2 {
      font-size: 0.43478rem;
      color: #333; }
.content .mod-albums #wrapper {
  position: relative;
  z-index: 1;
  height: 3.1401rem;
  width: 100%;
  overflow: hidden;
  -ms-touch-action: none;
  padding-left: 0.24155rem; }
  .content .mod-albums #wrapper #scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
    width: 20rem;
    height: 3.1401rem;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none; }
    .content .mod-albums #wrapper #scroller ul {
      list-style: none;
      width: 100%;
      padding: 0;
      margin: 0; }
      .content .mod-albums #wrapper #scroller ul li {
        width: 2.19807rem;
        height: 3.1401rem;
        float: left;
        font-size: 0;
        overflow: hidden; }
        .content .mod-albums #wrapper #scroller ul li img {
          width: 1.93237rem;
          height: 1.93237rem; }
        .content .mod-albums #wrapper #scroller ul li span {
          font-size: 0.28986rem;
          margin: 0.09662rem 0 0.04831rem 0;
          color: #333; }
        .content .mod-albums #wrapper #scroller ul li p {
          margin: 0;
          color: #999;
          font-size: 0.28986rem;
          line-height: 0.28986rem; }
        .content .mod-albums #wrapper #scroller ul li #english {
          font-size: 0.33816rem; }
.content .mod-list {
  margin-top: 0.48309rem;
  margin-left: 0.24155rem;
  margin-right: 0.24155rem; }
  .content .mod-list .top {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .content .mod-list .top .left h2 {
      font-size: 0.43478rem;
      color: #333; }
    .content .mod-list .top .right span {
      font-size: 0.28986rem;
      color: #333; }
  .content .mod-list .middle {
    display: flex;
    justify-content: space-between;
    font-size: 0;
    /*align-items: center;*/
    padding-top: 0.33816rem;
    /*padding-bottom: (12px/41.4px)*1rem;*/
    border-bottom: 1px solid #eee; }
    .content .mod-list .middle .items {
      text-align: center;
      color: #999;
      font-size: 0.38647rem;
      line-height: 0.48309rem;
      height: 31px; }
    .content .mod-list .middle .left {
      margin-left: 1.20773rem; }
    .content .mod-list .middle .right {
      margin-right: 1.20773rem; }
    .content .mod-list .middle .division {
      width: 1px;
      height: 0.43478rem;
      background-color: #eee;
      font-size: 0; }
    .content .mod-list .middle #focus {
      color: #299DE7;
      background: url("../img/trangle.png") bottom center no-repeat;
      background-size: 0.45894rem 0.24155rem; }
  .content .mod-list .bottom {
    position: relative;
    height: 7.48792rem; }
    .content .mod-list .bottom .title {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: #fff;
      display: none; }
      .content .mod-list .bottom .title .items {
        display: flex;
        margin-top: 0.12077rem;
        border-bottom: 1px solid #eee;
        padding-bottom: 0.12077rem; }
        .content .mod-list .bottom .title .items .left {
          position: relative;
          width: 1.08696rem;
          height: 1.08696rem;
          margin-right: 0.19324rem; }
          .content .mod-list .bottom .title .items .left img {
            width: 1.08696rem;
            height: 1.08696rem; }
          .content .mod-list .bottom .title .items .left i {
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 16px;
            font-size: 12px;
            color: #fff;
            text-align: right;
            background: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000)); }
        .content .mod-list .bottom .title .items .middle {
          padding-top: 0;
          align-items: center;
          flex-grow: 1;
          justify-content: flex-start;
          border: none; }
          .content .mod-list .bottom .title .items .middle .change {
            width: 0.28986rem;
            height: 2px;
            background-color: #999;
            margin-right: 0.24155rem; }
          .content .mod-list .bottom .title .items .middle .song h3 {
            font-size: 0.38647rem;
            color: #333;
            margin: 0;
            font-weight: 400; }
          .content .mod-list .bottom .title .items .middle .song p {
            margin: 0;
            font-size: 0.28986rem;
            color: #999;
            margin-top: 0.04831rem; }
          .content .mod-list .bottom .title .items .middle .up {
            background-color: #fff;
            margin-right: 0.12077rem;
            color: #ff4500; }
        .content .mod-list .bottom .title .items .right {
          display: flex;
          align-items: center; }
      .content .mod-list .bottom .title .updatetime {
        font-size: 0;
        display: flex;
        justify-content: center;
        align-items: center; }
        .content .mod-list .bottom .title .updatetime .box {
          border-bottom: 1px solid #eee;
          display: flex;
          justify-content: center;
          align-items: center; }
          .content .mod-list .bottom .title .updatetime .box p {
            font-size: 0.28986rem;
            line-height: 1.40097rem;
            margin: 0; }
          .content .mod-list .bottom .title .updatetime .box span {
            font-size: 0.38647rem;
            color: #EA4483;
            line-height: 1.40097rem;
            font-weight: 400;
            margin: 0; }
    .content .mod-list .bottom #first {
      display: block; }
    .content .mod-list .bottom .more-songs {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
      .content .mod-list .bottom .more-songs p {
        color: #999;
        font-size: 0.28986rem;
        margin: 0;
        text-align: center; }
.content .program {
  margin-top: 0.48309rem;
  margin-left: 0.24155rem;
  margin-right: 0.24155rem; }
  .content .program .top {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .content .program .top .left h2 {
      font-size: 0.43478rem;
      color: #333; }
    .content .program .top .right span {
      font-size: 0.28986rem;
      color: #333; }
  .content .program .bottom {
    display: flex;
    justify-content: space-between; }
    .content .program .bottom .programitems {
      width: 2.97899rem; }
      .content .program .bottom .programitems img {
        border: 1px solid #eee;
        width: 100%; }
      .content .program .bottom .programitems p {
        color: #333;
        font-size: 0.28986rem;
        margin-top: 0.14493rem;
        text-align: center; }
.content .musiclist {
  margin-top: 0.48309rem;
  margin-left: 0.24155rem;
  margin-right: 0.24155rem; }
  .content .musiclist .top {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .content .musiclist .top .left h2 {
      font-size: 0.43478rem;
      color: #333; }
    .content .musiclist .top .right span {
      font-size: 0.28986rem;
      color: #333; }
  .content .musiclist .bottom .musicitems {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    margin-top: 0.24155rem; }
    .content .musiclist .bottom .musicitems .left {
      margin-right: 0.24155rem; }
      .content .musiclist .bottom .musicitems .left img {
        width: 1.08696rem; }
    .content .musiclist .bottom .musicitems .middle {
      flex-grow: 1; }
      .content .musiclist .bottom .musicitems .middle h3 {
        margin-top: 0.09662rem;
        font-size: 0.38647rem;
        line-height: 20px;
        font-weight: 400;
        margin: 0; }
      .content .musiclist .bottom .musicitems .middle p {
        font-size: 0.28986rem;
        margin: 0;
        margin-top: 0.12077rem;
        color: #999; }
    .content .musiclist .bottom .musicitems .right {
      display: flex;
      align-items: center;
      color: #999; }
.content hr {
  margin: 0;
  border: 1px solid #eee;
  border-top: 0;
  border-left: 0;
  border-right: 0; }
.content .more {
  height: 1.0628rem;
  width: 100%; }
  .content .more p {
    line-height: 1.0628rem;
    font-size: 0.38647rem;
    color: #333;
    text-align: center;
    width: 100%;
    margin: 0; }
.content #topline {
  margin-top: 0.24155rem; }
.content .download {
  height: 0.91787rem;
  width: 100%;
  text-align: center;
  font-size: 0.72464rem;
  background-color: #fff;
  z-index: 3; }
  .content .download a {
    line-height: 0.72464rem;
    color: #999;
    font-size: 0.33816rem;
    width: 100%;
    vertical-align: middle; }
.content .rollitems {
  width: 100%;
  text-align: center;
  font-size: 0.72464rem;
  position: absolute;
  z-index: 1;
  animation-name: rollads;
  animation-duration: 8s;
  animation-iteration-count: infinite; }
  .content .rollitems p {
    line-height: 0.72464rem;
    color: #999;
    font-size: 0.33816rem;
    width: 100%;
    margin: 0.12077rem 0 0.12077rem 0;
    vertical-align: middle;
    z-index: 1;
    overflow: hidden; }
  .content .rollitems .rollad2 {
    bottom: -20px; }
  .content .rollitems .rollad3 {
    bottom: -40px; }
.content > .white {
  width: 100%;
  height: 0.91787rem;
  position: relative;
  overflow: hidden; }
.content footer {
  display: flex;
  justify-content: space-around;
  height: 1.20773rem;
  background-color: #fff;
  z-index: 999;
  padding: 0 0.36232rem 0 0.36232rem; }
  .content footer span {
    font-size: 0.36232rem;
    color: #333;
    line-height: 1.20773rem;
    z-index: 999; }
  .content footer .division {
    color: #cacaca; }
